# Dependencies
node_modules/

# React Native
.metro-health-check*

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/debug.keystore
android/app/callcoach-release.keystore
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/DerivedData/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Bundle
*.jsbundle
*.jsbundle.map
